.navbar-header {
  /* background-color: #242f66; */
  background-color: #CDC9C2;
  width: 100%;
  color: white;
  text-align: center;
  height: 40px;
  font-size: small;
    display: flex;
  align-items: center;      /* vertical center */
  justify-content: center; 
  color: #242f66;
}
